<!doctype html>
<html lang="en">
  <head>
    <title>Task Manager</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      body {
        margin: 0;
        padding: 0;
        background-color: #f7f7f7;
      }

      .container {
        max-width: 600px;
        margin: 0 auto;
        padding: 20px;
        background-color: #ffffff;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
      }

      h1 {
        text-align: center;
        margin-bottom: 20px;
      }

      h2 {
        margin-top: 20px;
      }

      ul {
        list-style-type: none;
        padding: 0;
      }

      li {
        margin-bottom: 10px;
        padding: 10px;
        background-color: #f9f9f9;
        border-radius: 5px;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      .completed {
        color: #28a745;
        font-weight: bold;
      }

      form {
        margin-top: 20px;
      }

      label {
        display: block;
        margin-bottom: 5px;
        font-weight: bold;
      }

      input[type="text"] {
        width: 100%;
        padding: 10px;
        padding-right: 0px;
        border: 1px solid #ccc;
        border-radius: 5px;
        background-color: #f5f5f5;
      }

      button[type="submit"] {
        padding: 10px 20px;
        margin-top: 10px;
        background-color: #006ee5;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
      }

      button[type="submit"]:hover {
        background-color: #006ee5;
      }

      select {
        padding: 10px 20px;
        background-color: #f5f5f5;
        border-radius: 5px;
        margin-left: 5px;
      }

      header {
        background-color: #333;
        color: #fff;
        text-align: center;
        padding: 10px;
      }

      /* Navigationslinks im Header */
      nav {
        display: inline-block;
        margin-top: 10px;
      }

      nav a {
        color: #fff;
        text-decoration: none;
        margin: 0 10px;
      }

      header {
        background-color: #333;
        color: #fff;
        text-align: center;
        padding: 10px;
      }

      nav {
        display: inline-block;
        margin-top: 10px;
      }

      nav a {
        color: #fff;
        text-decoration: none;
        margin: 0 10px;
      }
    </style>
  </head>
  <body>
    <header>
      <nav>
        <a href="/">Tasks</a>
        <a href="/users">Users</a>
      </nav>
    </header>
    <div class="container">
      <h1>Tasks</h1>
      <ul>
        {% for task in tasks %}
        <li>
          <span>{{ task.title }}</span>
          <span>{{ task.user }}</span>
          <span>
            {% if task.completed %}
            <span class="completed">(abgeschlossen)</span>
            {% else %}
            <button type="submit" id="task_{{ task.id }}">
              Als abgeschlossen markieren
            </button>
            <script>
              document
                .getElementById("task_{{ task.id }}")
                .addEventListener("click", () => {
                  window.location =
                    "{{ url_for('complete_task', task_id=task.id) }}";
                });
            </script>

            {% endif %}
            <button
              style="background-color: red"
              type="submit"
              id="remove_task_{{ task.id }}"
            >
              Task löschen
            </button>
            <script>
              document
                .getElementById("remove_task_{{ task.id }}")
                .addEventListener("click", () => {
                  window.location =
                    "{{ url_for('remove_task', task_id=task.id) }}";
                });
            </script>
            <button
              style="background-color: rgb(35, 150, 54)"
              type="submit"
              id="edit_task_{{ task.id }}"
            >
              Task editieren
            </button>
            <script>
              document
                .getElementById("edit_task_{{ task.id }}")
                .addEventListener("click", () => {
                  const editDiv = document.getElementById(
                    "edit_div_{{ task.id }}",
                  );
                  if (
                    editDiv.style.display === "none" ||
                    editDiv.style.display === ""
                  ) {
                    editDiv.style.display = "block";
                  } else {
                    editDiv.style.display = "none";
                  }
                });
            </script>
            <div id="edit_div_{{ task.id }}" style="display: none">
              <form
                method="POST"
                action="{{ url_for('edit_task', task_id=task.id) }}"
              >
                <label for="title">Neuer Titel:</label>
                <input type="text" name="title" placeholder="Neuer Titel.." />
                <label for="user">Neuer Benutzer:</label>
                <select id="user" name="user" title="Dropdown">
                  <option disabled selected hidden>Choose User</option>
                  {% for user in users %}
                  <option value="{{ user.name }}">{{ user.name }}</option>
                  {% endfor %}
                </select>
                <button type="submit">Aktualisieren</button>
              </form>
            </div>
          </span>
        </li>
        {% endfor %}
      </ul>

      <h2>Neue Aufgabe hinzufügen</h2>
      <form method="POST" action="{{ url_for('add_task') }}">
        <label for="title">Titel:</label>
        <div style="display: flex; justify-content: stretch">
          <input
            type="text"
            name="title"
            placeholder="Hausaufgaben..."
            required
          />
          <select id="user" name="user" title="Dropdown">
            <option disabled selected hidden>Choose User</option>
            {% for user in users %}
            <option value="{{ user.name }}">{{ user.name }}</option>
            {% endfor %}
          </select>
        </div>
        <button type="submit">Hinzufügen</button>
      </form>
    </div>
  </body>
</html>
